<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="conexionbd" connectionString="Data Source=SAM; Initial Catalog=bd1; Integrated security=True" />
	</connectionStrings>
	
</configuration>